<nav>
    <ul>
        <li class="nav-item">
            <a href="/index.html">Home</a>
        </li>
        <li class="nav-item">
            <a href="/pages/portfolio.html">Portfolio</a>
        </li>
        <li class="nav-item">
            <a href="/pages/pricing.html">Pricing</a>
        </li>
        <li class="nav-item">
            <a href="/pages/contact.html">Contact</a>
        </li>
        <li class="nav-item">
            <a href="/pages/about.html">About</a>
        </li>
    </ul>
</nav>