h1 {
    z-index: 1;
    position: absolute;
    top: 30%; /* Move to 50% from the top of the container */
    left: 50%; /* Move to 50% from the left of the container */
    transform: translate(-50%, -50%);
}

h2 {
    border-bottom: 1px solid black;
    max-width: 90%;
    margin: 0.5rem auto;
    display: block;
}

img {
    max-width: 100%;
}

.hero {
    position: relative;
}

.hero-img {
    position: relative;
    top: 0;
    z-index: 0;
    display: block;
    margin: 0 auto;
}

.about-img {
    max-height: 300px;
}

/* ==== TESTIMONIAL CARD ==== */
.testimonial-card {
    max-width: 400px;
    position: relative;
    margin: 0 auto;
    display: block;
}

.testimonial-card .testimonial-text {
    padding: 0.5rem;
    max-width: 384px;
    z-index: 1;
    position: absolute;
    bottom: 0;
    background-color: white;
}