h2 {
    text-align: center;
}

img {
    max-width: 100%;
}

/* ==== CAROUSEL ==== */

.hero {
    margin-top: 5rem;
}

.carousel img {
    max-height: 375px;
    display: block;
    padding: 0.5rem;
}

.carousel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* ==== ABOUT ==== */

.about {
    margin: 1rem 0;
}

.meet-mg {
    margin: 0;
    font-size: 70pt;
    padding: 0;
}

.about-img {
    display: block;
    margin: 0 auto;
    max-height: 400px;
}

.about-text {
    line-height: 2rem;
    font-size: 16pt;
    text-align: center;
    margin: 0 3rem;
}

.more-btn {
    padding: 0.25rem;
    width: 200px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    display: block;
    margin: 1rem auto;
    text-align: center;
    transition: 0.5s;
}

.more-btn:hover {
    background-color: lightgray;
}

/* ==== TESTIMONIAL CARD ==== */

.testimonials {
    margin: 0 3rem;
}

.testimonial-card {
    max-width: 400px;
    position: relative;
    margin: 0 auto;
    display: block;
}

.testimonial-card p {
    padding: 0.5rem;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.25);   
}

.testimonial-text {
    font-size: 14pt;
    text-align: center;
}

.testimonial-name {
    margin: 0;
    padding: 0;
    font-size: 75pt;
}