@media screen and (min-width: 800px) {
    main {
        max-width: 1000px;
        margin: 0 auto;
        display: block;
    }

    /* ==== NAVIGATION ==== */

    #main-header .nav-menu {
        right: 0%;
        position: relative;
    }

    #main-header .nav-menu a {
        max-width: 100%;
    }

    #main-header ul {
        margin: auto;
        justify-content: center;
        display: flex;
    }

    #main-header li.nav-item {
        max-width: 100px;
    }

    .burger-menu {
        display: none;
    }

    .logo {
        display: block;
    }

    /* ==== HOME ==== */

    .testimonials-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        gap: 5px;
    }

    div.testimonial-card {
        max-width: 275px;
    }

    .testimonial-card .testimonial-text {
        margin-top: 0;
        position: relative;
        background-color: transparent;
    }

    .about-grid {
        max-width: 1000px;
        margin: auto;
        display: flex;
        align-items: center;
    }

    .about {
        margin: 2rem;
    }

    img.about-img {
        padding: 1rem;
    }

    .about-text {
        margin: 0 3rem;
    }

    section.testimonials {
        display: block;
        margin: auto;
        max-width: 1000px;
    }

    section.hero {
        margin-top: 0;
    }
}



    /* ==== PRICING ==== */

.centered {
    display: block;
    margin: 0 auto;
}
#wedding1-image {
   
}

#wedding2-image {
    
}

#engagement-image {
    
}
.image-container {
    position: relative;
    display: inline-block; /* To contain the size of the container */
}
.image-container img {
    max-width: 100%;
}
.image-text {
    position: absolute;
    top: 50%; /* Position the text vertically in the middle */
    left: 50%; /* Position the text horizontally in the middle */
    transform: translate(-50%, -50%); /* Center the text precisely */
    /* background-color: rgba(0, 0, 0, 0.5); Semi-transparent background */
    color: white; /* Text color */
    padding: 10px; /* Add some padding around the text */
    border-radius: 5px; /* Add rounded corners to the text box */
    font-family: Snell Roundhand, cursive;
    font-size: 3.25rem;
}
.pricing-amount {
   text-align: center;
   font-size: 75%;

}
.pricing-section-title {
    text-align: center;
}
.pricing-packages-divider {
    margin-right: 15%;
    margin-left: 15%;
}
.pricing-paragraphs {
    text-align: center;
}