:root {
    --content-font: "Modern Sans", sans-serif;
    --style-font: "Flanella", sans-serif;
    --black: #000000;
    --white: #ffff;
    --off-white: #f3f3f3;

}

@font-face {
    font-family: "Flanella";
    src: url("/MadisonGrantPhoto/public/fonts/Flanella.ttf")
    format("opentype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Modern Sans";
    src: url("/MadisonGrantPhoto/public/fonts/ModernSans-Light.otf")
    format("opentype");
    font-weight: normal;
    font-style: normal;
}

/* ==== BASE STYLES ==== */

body {
    margin: 0;
}

p {
    font-family: var(--content-font);
}

.style-font {
    font-family: "Flanella", sans-serif;
}

.content-font {
    font-family: "Modern Sans", sans-serif;
}

/* ==== HEADER ==== */

#main-header .nav-menu {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    right: -100%;
    z-index: 5;
    transition: right 0.3s ease-in-out;
}

#main-header nav a {
    font-family: var(--content-font);
    color: var(--black);
    display: inline-block;
    padding: 0.5rem;
    margin: 5px;
    text-decoration: none;
    position: relative; 
}

#main-header nav a::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0; 
    position: absolute;
    background: lightgray;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

#main-header nav a:hover::after {
    width: 100%;
    left: 0; 
}

#main-header ul {
    padding: 0;
    margin: 0;
}

#main-header ul li {
    margin: 1rem 1rem;
    display: block;
    list-style: none;
}

.logo {
    display: none;
    max-width: 80px;
}

/* === HAMBURGER MENU === */

.burger-menu {
    margin: 1rem;
    position: fixed;
    top: 0;
    right: 0;
    height: 50px;
    border: none;
    z-index: 10;
    background-color: transparent;
}

.top-line, .mid-line, .bot-line {
    margin: 9px 0;
    height: 3px;
    width: 35px;
    background-color: black;
}

/* ==== BODY ==== */

.heading {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0.5rem;
}

p {
    padding: 0.5rem;
}

/* ==== FOOTER ==== */

hr {
    max-width: 500px;
    height: 1px;
    background-color: var(--black);
    border: none;
    width: 70%;
}

#main-footer {
    text-align: center;
    margin-top: 0.5rem;
    color: var(--black);
    padding: 1rem;
}


.social-icon img{
    display: block;
    margin: 1rem auto;
    height: 30px;
}

footer p {
    margin: 0;
    font-size: 12pt;
}

.larger-font {
    font-size: larger;
}

.smaller-font {
    font-size: smaller;
}