:root {
    --content-font: sans-serif;
    --display-font: sans-serif;
    --black: #000000;
    --white: #ffff;
    --off-white: #f3f3f3;

}

/* ==== BASE STYLES ==== */

body {
    margin: 0;
}


/* ==== HEADER ==== */

#main-header .nav-menu {
    background-color: var(--off-white);
    position: fixed;
    top: 0;
    width: 100%;
    right: -100%;
    z-index: 5;
    transition: right 0.3s ease-in-out;
}

#main-header nav a {
    color: var(--black);
    border: 1px solid black;
    display: block;
    padding: 0.5rem;
    margin: 5px;
    text-decoration: none;
    max-width: 50%;
}

#main-header ul {
    padding: 0;
    margin: 0;
}

#main-header ul li {
    margin: 0 1rem;
    display: block;
    list-style: none;
}

/* === HAMBURGER MENU === */

.burger-menu {
    margin: 1rem;
    position: fixed;
    top: 0;
    right: 0;
    height: 50px;
    border: none;
    z-index: 10;
    background-color: transparent;
}

.top-line, .mid-line, .bot-line {
    margin: 9px 0;
    height: 3px;
    width: 35px;
    background-color: black;
}

/* ==== BODY ==== */

.heading {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0.5rem;
}

p {
    padding: 0.5rem;
}

/* ==== FOOTER ==== */

#main-footer {
    margin-top: 0.5rem;
    color: white;
    padding: 1rem;
    background-color: var(--black);
}

.social-media h2 {
    margin: 1rem 0;
    border-bottom: 1px solid white;
    max-width: 50%;
}

.social-icon img{
    height: 50px;
}